data/
*.db
*.sqlite
*.sqlite3
sampled_*.csv

.ipynb_checkpoints/
*-checkpoint.ipynb

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/


venv/
.venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
tests/__init__.py
*.log
logs/
*.pid
